<header class="nav-bar">
    <div class="nav-content">
        <a href="{{ '/' | relative_url }}" id="big-nav-logo">
            <div class="nav-logo">
                <img src="./assets/img/mlh-prep.png" />
            </div>
        </a>
        <div class="nav-links">
            <a href="{{ '/' | relative_url }}" class="hide" id="small-nav-logo">
                <img src="./assets/img/mlh-prep.png" />
            </a>
            <div class="links">
                <a href="{{ '/' }}">Home</a>
                <a href="{{ '#description' }}">Members</a>
                <a href="{{ '#projects' }}">Projects</a>
            </div>
            <a
                    href="{{page.url}}"
                    id="theme-toggle"
                    style="cursor: pointer"
                >Light mode</a>
        </div>
    </div>
</header>
