<header class="nav-bar">
    <div class="nav-content">
        <a href="{{ '/' | relative_url }}" id="big-nav-logo">
            <div class="nav-logo">
                <img src="./assets/img/mlh-prep.png" />
            </div>
        </a>
        <div class="nav-links">
            <a href="{{ '/' | relative_url }}" class="hide" id="small-nav-logo">
                <img src="./assets/img/mlh-prep.png" />
            </a>
            <div class="links">
                <a href="{{ '/' }}">Home</a>
                <a href="{{ '#description' }}">Members</a>
                <a href="{{ '#projects' }}">Projects</a>
            </div>
            <label class="switch">
                <input type="checkbox" onclick="modeSwitcher()" id="theme-toggle">
                <div class="slider"></div>
                <script src="./assets/scripts/dark_mode.js"></script>
            </label>
        </div>
    </div>
</header>
