<h2 id="projects">Projects</h2>
<div class="projects-card-container card-container">
  {% for item in site.data.projects %}
  {% if item.page-name %}
    <a href="/projects/{{ item.page-name }}">
  {% else %}
    <a>
  {% endif %}
  <div class="project-card card">
    <div class="info">
      <img class="project-img" src="./assets/img/{{ item.img }}" alt="logo" />
      <p class="title">{{ item.title }}</p>
      <p class="location">{{ item.event }}</p>
      <p class="dates">{{ item.date }}</p>
      <a href="/projects/{{ item.page-name }}"> View Project </a>
    </div>
  </div>
  </a>
  {% endfor %}
</div>
