@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import "navbar";
@import "profile";
@import "page";
@import "projects";
@import 'toggle_button';

html, html[data-theme="light"] {
  --background-color: white;
  --card-background-color: white; 
  --link-color: rgb(0, 112, 201);
  --text-color: #121212;
}

 html[data-theme="dark"] {
    --background-color: #1e1e1e;
    --card-background-color: #121212; 
    --link-color: rgb( 100, 210, 255);
    --text-color: white;
  }

@media (prefers-color-scheme: dark) {
html, html[data-theme="dark"] {
    --background-color: #1e1e1e;
    --card-background-color: #121212; 
    --link-color: rgb( 100, 210, 255);
    --text-color: white;
  }

  html[data-theme="light"] {
  --background-color: white;
  --card-background-color: white; 
  --link-color: rgb(0, 112, 201);
  --text-color: #121212;
  }
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
    transition: all 650ms !important;
    transition-delay: 0 !important;
}

.back-button {
  color: white !important;
  background-color: #1d539f;
  font-size: medium;
  border: none;
  border-radius: 12px;
  margin-top: 3rem;
  padding: 0.7rem;
}
.back-button:hover {
  background-color: #022c67;
  text-decoration: none;

}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-family: "Open Sans", sans-serif;
}


/* Style all font awesome icons */
.fa {
  padding: 0px;
  font-size: 25px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: var(--background-color);
  color: var(--text-color);

}

@media only screen and (max-width: 1500px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .social-icon {
    height: 2vw;
  }
}

@media only screen and (max-width: 1000px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .social-icon {
    height: 2vw;
  }
}

@media only screen and (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
  }

  .social-icon {
    height: 2vw;
  }
}

body {
  background-color: var(--background-color);
  margin-bottom: 50px;
}

h2 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 700;
  text-align: center;
  color: var(--text-color);
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 30px;
  background-color: var(--card-background-color);
  border-radius: 0.375rem;
  padding: 1.5em;
  font-size: 1.2em;
}

a:link {
  color: var(--text-color);
}
a:hover {
  color: var(--link-color);
}

.info {
  p {
    margin-top: 5px;
    margin: 0px;
    text-align: left;
    color: var(--text-color);
  }

  .title {
    font-size: 500;
    font-weight: bold;
    color: var(--text-color);
  }

  .location,
  .description {
    font-size: medium;
    font-weight: 400;
    color: var(--text-color);
  }

  .dates {
    font-size: small;
    color: var(--text-color);
  }
}

.icon {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  padding: 10px;

  img {
    width: 100%;
  }
}
