:root {
  --surface-color: #fff;
  --curve: 40;
}
.projects-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.project-card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
  box-shadow: 0 0 12px 2px rgba($color: #133667, $alpha: 0.6);
}

.card__image {
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.project-card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.project-card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  background-color: #133667;
  flex-shrink: 0;
  width: 60px;
  height: 40px;
  border-radius: 20%;
}

.card__title {
  font-size: 1.6em;
  margin: 0 0 0.3em;
  color: #6a515e;
}

.card__status {
  font-size: 1em;
  color: #8b7982;
}

.card__description {
  color: #133667;
  padding: 0 2em 2em;
  margin: 0;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.tags {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin: 0 15px;
  h5 {
    background-color: #8b7982;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 8px;
    border-radius: 8px;
    border: none;
    transition: 0.2s ease-in-out;
  }
  h5:hover {
    background-color: #6a515e;
  }
}

.project-button {
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
.project-button a {
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 0.25s;
  font-family: "Montserrat", sans-serif;
}
.project-button a:before,
.project-button a:after {
  position: absolute;
  content: "View Project";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #133667;
  box-sizing: border-box;
  border-radius: 10px;
}
.project-button a:before {
  color: #fff;
  background: #133667;
  transform: rotateY(0deg) translateZ(25px);
}
.project-button a:after {
  color: #133667;
  transform: rotateX(90deg) translateZ(25px);
}
.project-button a:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}
